<h1>Announcements</h1>
<div>
  <b>Find </b>
  <input
    (keyup)="filterItems()"
    [(ngModel)]="searchValue"
    style="height: 20px"
  >
  <div class="header">
    <p>Title</p>
    <p>Description</p>
    <p>Date</p>
  </div>
  <div class="contentBlock" *ngFor="let item of filteredAnnouncement; let i = index">    
    <input type="text" [(ngModel)]="item.title">
    <input type="text" [(ngModel)]="item.description">
    <p>{{item.nowDate | date: 'dd/MM/yyyy hh:mm:ss'}}</p>
    <button (click)="delete(i)" class="del">Delete</button>
  </div>
  <button (click)="add()" class="add">Add</button>
</div>

